<button (click)="increment(1)">Increment by 1</button>
<button (click)="increment(2)">Increment by 2</button>
 
<div>Current Count: {{ count$ | async }}</div>
<div>Result variable: {{ result }}</div>

<button (click)="decrement(1)">Decrement by 1</button>
<button (click)="decrement(2)">Decrement by 2</button>
<button (click)="selectByParametrizedSelector(2)">selectByAmount(2)</button>

<button (click)="reset()">Reset Counter</button>